@page
@model UI.Pages.Book.RemoveModel

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Cover)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Cover)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Books.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Index">Back to List</a>
    </form>
</div>
